ZENDESK_BASE_URL=https://support.optisigns.com
ZENDESK_LOCALE=en-us
ARTICLES_DIR=assets/articles
STATE_FILE=assets/checklist.json
FILE_SEARCH_STORE_NAME=optibot-file-search-store

GEMINI_API_KEY=api_key
GEMINI_MODEL=gemini-2.5-flash
# null at the first time running uploader
GEMINI_FILE_SEARCH_STORE_NAME=

LOG_LEVEL=INFO